---
import Layout from '../../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { pb } from '../../lib/pocketbase';
import ArticleCard from '../../components/ArticleCard.astro';

const articles = await pb.collection('articles').getFullList({
    sort: '-created',
});
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main class="container mx-auto py-12">
		<h1 class="text-4xl font-bold mb-8">Blog</h1>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			{articles.map((article) => (
				<ArticleCard
					title={article.title}
					description={article.excerpt}
					image={`http://127.0.0.1:8090/api/files/articles/${article.id}/${article.featured_image}`}
					alt={article.featured_image_alt}
					category={article.category}
					author={article.author}
					date={new Date(article.published_at).toLocaleDateString()}
					readingTime={article.reading_time}
					url={`/blog/${article.slug}`}
				/>
			))}
		</div>
	</main>
</Layout>
